body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-image: 
    linear-gradient(140deg, 
      #00f3ffA0, 
      #0028b960 40%, 
      #00f3ff60 60%, 
      #00f3ffA0), 
    url("20829375674103265.jpg");
  background-repeat: no-repeat;
  background-position: 50%;
  animation: move 20s infinite both;
}

@keyframes move{
  0% {
    background-size:100% auto;
  }
  50% {
    background-size:140% auto;
  }
  100% {
    background-size:100% auto;
  }
}


h1 {
 color: #fff; /* テキストの色を白に設定 */
 background-color: #ff7043; /* 背景色をオレンジに設定 */
 font-family: "Georgia", serif; /* フォントをGeorgiaに設定。Georgiaがない場合はserifを使用 */
 font-size: 2.5rem; /* フォントサイズを2.5remに設定 */
 text-align: center; /* テキストを中央揃えにする */
 margin: 1.25rem auto; /* 上下に1.25remの外側の余白を追加し、中央揃えにする */
 padding: 1rem 2rem; /* 内側の余白を上下1rem、左右2remに設定 */
 max-width: 85%; /* 要素の最大幅を85%に設定 */
 border-radius: 0.5rem; /* ボーダーの角を丸くする（半径0.5rem） */
 box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2); /* 影を追加して、ボックスに立体感を出す */
}

h2 {
 font-size: 2rem;
 text-decoration: underline;
}

.ingredients {
 font-weight: normal;
 font-size: 2rem;
 padding-left: 10px; /* 要素内側の左部に 10px の余白 */
 border-left: 15px solid; /* 要素境界の左端に幅 20px の実線 */
 border-bottom: 4px solid; /* 要素境界の下端に幅 4px の実線 */
}

.directions {
 color: #16a085; /* 文字色 */
 font-weight: bold;
 font-size: 1.5rem;
 text-align: center; /* 中央配置 */
 letter-spacing: 0.5rem; /* 文字間隔を広げる */
 margin-bottom: 0.5rem; /* 要素外側の下部に 0.5rem の余白 */
 padding: 0.5rem 0rem; /* 要素内側の上下に 0.5rem、左右に 0rem の余白 */
 border-top: 3px dashed #16a085; /* 要素境界の上部に破線 */
 border-bottom: 3px dashed #16a085; /* 要素境界の下部に破線 */
}
