html {
 background-color:#a0d8ef;
 font-family: "M PLUS 1p", sans-serif;
 font-weight: 400;
 font-style: normal;
}

body { /* スタイル適用先としてbodyタグを指定するセレクタ */
 display: flex; /* 画面全体の配置を調整するための設定 */
 justify-content: center; /* コンテンツを中央に配置 */
 padding: 0px 10px; /* 画面の上下に 0px の余白、左右に10pxの余白を設定 */
}

h1 {
 color: #fff; /* テキストの色を白に設定 */
 background-color: #ff7043; /* 背景色をオレンジに設定 */
 font-family: "Georgia", serif; /* フォントをGeorgiaに設定。Georgiaがない場合はserifを使用 */
 font-size: 2.5rem; /* フォントサイズを2.5remに設定 */
 text-align: center; /* テキストを中央揃えにする */
 margin: 1.25rem auto; /* 上下に1.25remの外側の余白を追加し、中央揃えにする */
 padding: 1rem 2rem; /* 内側の余白を上下1rem、左右2remに設定 */
 max-width: 85%; /* 要素の最大幅を85%に設定 */
 border-radius: 0.5rem; /* ボーダーの角を丸くする（半径0.5rem） */
 box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2); /* 影を追加して、ボックスに立体感を出す */
}

h2 {
 font-size: 2rem;
 text-decoration: underline;
 color:#b7282e;
}

body {
 display: flex;
 justify-content: center;
 padding: 0px 5px; 
}

.container { 
 max-width: 800px;
 width: 100%;
 margin: 0 auto;
}

.nsx {
  font-family: "Dela Gothic One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.na {
 color:#e5171f;
}

.nb {
 color:#019a66;
}

.nc {
 color:#fcc800;
}
